@media screen and (max-width: 900px) {
    .header {
        display: flex;
        flex-direction: column !important;
        font-size: 1.75rem !important;
    }

    .avatar {
        margin: 0px !important;
        height: 75px !important;
        width: 75px !important;
    }

    .main {
        width: 90% !important;
    }
}

.main {
    margin: 0 auto;
    padding: 15px;
    margin-top: 150px;
    background-color: var(--cloud-bg-color);
    width: 50%;
    border-radius: 3px;
    animation: fade-in 1.5s var(--fade-in-curve);
    box-shadow: 0 0 10px 10px var(--cloud-bg-color)
}

.header {
    font-size: 2.5rem;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.avatar {
    margin-right: 15px;
    height: 100px;
    width: 100px;
}

.about {
    padding: 20px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 2;
}