@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300;500;700&display=swap');
* {
    --footer-bg-color: #006994;
    --footer-color: #fff;
    --footer-color-hover: #bdc3c7;
    --footer-height: calc(.1 * 100vh);
    --navbar-height: 7vh;
    --background-color: #3498db;
    --cloud-bg-color: #DDD;
}

body {
    font-family: 'Noto Sans HK', sans-serif;
    background-color: var(--background-color);
}

.avatar {
    border-radius: 50%;
    vertical-align: middle;
    height: 150px;
    width: 150px;
    max-height: 150px;
    max-width: 150px;
    border: 2px solid var(--avatar-border-color);
}

.navbar {
    padding: 5px 5vw;
    height: var(--navbar-height);
    background-color: var(--cloud-bg-color);
    box-shadow: 0 0 5px 10px var(--cloud-bg-color);
}

.nav-dropdown {
    background-color: var(--cloud-bg-color);
}

.collapse, .collapsing {
    z-index: 1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.collapse>*, .collapsing>* {
    padding: 0 15px;
}

.content {
    overflow-x: hidden;
    position: relative;
    min-height: calc(100vh - var(--navbar-height));
    padding-bottom: var(--footer-height);
}

.footer {
    position: absolute;
    bottom: 0;
    height: var(--footer-height);
    width: 100vw;
    color: var(--footer-color);
    background-color: var(--footer-bg-color);
}

.footer-inner {
    margin: 0 10vw;
    height: 100%;
    padding: calc(var(--footer-height) * .1);
    display: flex;
    justify-content: space-around;
}

.footer-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-link {
    color: inherit;
    transition: 300ms;
}

.footer-link:hover {
    color: var(--footer-color-hover);
    text-decoration: none;
    transition: inherit;
}