* {
    --form-bg-color: hsl(0, 0%, 74%);
}

@media screen and (max-width: 700px) {
    .contact-container {
        width: auto !important;
    }
}

.contact-container {
    animation: fade-in 1.5s var(--fade-in-curve);
    background-color: var(--cloud-bg-color);
    box-shadow: 0 0 10px 5px var(--cloud-bg-color);
    width: max-content;
    margin: 0 auto;
    margin-top: 15vh;
    padding: 15px;
    border-radius: 3px;
}

.contact-header {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 3rem;
    margin-bottom: 15px;
}

.contact-advisory {
    font-size: 1.25rem;
}

.avatar {
    height: 100px;
    width: 100px;
    margin-right: 15px;
}

.form {
    margin-bottom: 10px;
}

.form>label {
    display: block;
}

input, textarea {
    outline: none;
    border: none;
    font: inherit;
    padding: 10px 15px;
    border-radius: 3px;
    width: 100%;
    background-color: var(--form-bg-color);
}

input:focus, textarea:focus {
    background-color: var(--form-bg-color);
}

label {
    font-size: 1.25rem;
}

.message {
    width: 100%;
    line-height: 1.5;
}

.message::-webkit-scrollbar {
    border: none;
    outline: none;
    width: 12px;
}

.message::-webkit-scrollbar-thumb {
    background-color: hsl(200, 34%, 67%);
    border-radius: 10px;
}

.btn-submit {
    width: 100%;
    margin: 15px 0px;
    background-color: var(--form-bg-color);
}