* {
    --avatar-border-color: #888;
    --jumbo-bg-color: #DDD;
    --jumbo-color: #000;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.jumbotron.custom {
    background-color: var(--jumbo-bg-color);
    color: var(--jumbo-color);
    box-shadow: 0 0 5px 15px var(--jumbo-bg-color);
}

#main-content {
    animation: fade-in 1.5s cubic-bezier(0, 0, 0.22, 0.79);
    animation-fill-mode: both;
    animation-delay: 170ms;
}

.main {
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    vertical-align: middle;
    height: 150px;
    width: 150px;
    max-height: 150px;
    max-width: 150px;
    border: 2px solid var(--avatar-border-color);
}

.name {
    margin-left: 1vw;
    font-weight: 500;
}