* {
    --jumbo-bg-color: #DDD;
    --jumbo-color: #000;
}

@media screen and (max-width: 500px) {
    .name {
        font-size: 3rem;
    }
}

.jumbotron.custom {
    background-color: var(--cloud-bg-color);
    color: var(--jumbo-color);
    box-shadow: 0 0 5px 15px var(--cloud-bg-color);
}

#main-content {
    animation: fade-in 1.5s cubic-bezier(0, 0, 0.22, 0.79);
    animation-fill-mode: both;
    animation-delay: 170ms;
}

.main {
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    margin-left: 1vw;
    font-weight: 500;
}