* {
    --pinned-project-border-color: #f1c40f;
    --no-result-span-color: #e74c3c;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: scale(.5);
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1000px) {
    .card {
        min-width: 75vw;
    }
}

.project-loading {
    animation-fill-mode: forwards;
    animation: slide-in 1.5s cubic-bezier(0.63, 0.26, 0.01, 0.76);
}

.main {
    text-align: center;
    width: 50vw;
    margin: 0 auto;
    margin-top: calc(var(--navbar-height) - 20px);
    padding: 15px;
}

.pinned-header {
    margin-bottom: 5vh;
}

.other-projects-header {
    padding: 50px 0px;
}

.projects.pinned {
    animation: fade-in 1.5s cubic-bezier(0.63, 0.26, 0.01, 0.76);
    flex-direction: row;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vw;
}

.projects.pinned>.card {
    width: 15rem;
}

.projects.pinned>.card>.card-body {
    text-align: left;
}

.card {
    width: 35vw;
}

.project-card {
    animation-fill-mode: both;
    width: 100%;
}

.hidden {
    display: none;
}

.pinned-project {
    border-color: var(--pinned-project-border-color);
}

.result-span {
    font-size: 26px;
    color: var(--no-result-span-color);
}

.view-more {
    cursor: pointer;
    padding: 5px;
}