$primary: #ddd;

$secondary: #3498db;

$textPrimary: #000;
$textSecondary: rgba(0, 0, 0, 0.5);

:global(body) {
	@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;500;600;700&display=swap');
	font-family: 'Noto Sans HK', sans-serif;
	background-color: $secondary;
	box-sizing: border-box;
	margin: 0;
}
